{{template "header" .}}
<div id="scoreForm"></div>
<div class="d-flex justify-content-center" id="phaser-game"></div>

<script type="text/javascript" src="/assets/js/phaser.min.js"></script>
<script type="text/javascript" src="/assets/js/slashes.js"></script>
<script type="text/javascript" src="/assets/js/player.js"></script>
<script type="text/javascript" src="/assets/js/devil.js"></script>
<script type="text/javascript" src="/assets/js/enemy.js"></script>
<script type="text/javascript" src="/assets/js/sceneMain.js"></script>
<script type="text/javascript" src="/assets/js/sceneOpening.js"></script>
<script type="text/javascript" src="/assets/js/sceneEnding.js"></script>
<script type="text/javascript" src="/assets/js/scenePause.js"></script>
<script type="text/javascript" src="/assets/js/sceneLoading.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
{{template "footer"}}