{{template "header" .}}
<div class="card">
  <h5 class="card-header">Endless Hunter</h5>
  <div class="card-body">
    <h4 class="card-title">ゲーム内容</h5>
      <li class="card-text">一定時間毎に生成されるオバケを倒してハイスコアを目指すゲームです。</li>
      <li class="card-text">オバケを倒すほど素早いオバケが出やすくなり、生成されるスピードも上がります。</li>
      <li class="card-text">オバケに触れてしまいプレイヤーのLifeが0になるとゲームオーバーです。</li>
      <li class="card-text">スコア30点以上で自分のスコアをランキングに登録できます！ランキング1位を目指しましょう！</li>
    <br>
    <h4 class="card-title">システム操作</h5>
      <li class="card-text">現在、このゲームはPCからのみ遊ぶことができます。</li>
      <li class="card-text">音声とキーボード入力を有効にするために、ゲーム開始前にゲーム画面を一度クリックしてください。</li>
      <li class="card-text">タイトル画面で[スペース]キーを押すとゲームが開始されます。</li>
      <li class="card-text">ゲーム画面で[スペース]キーを押すとゲームを一時停止します。もう一度押すと、ゲームを再開します。</li>
      <li class="card-text">ゲームの一時停止中に[R]キーを押すとゲームをリスタートします。</li>
      <li class="card-text">ゲームの一時停止中に[T]キーを押すとタイトル画面に戻ります。</li>
      <li class="card-text">ゲームオーバー画面で[スペース]キーを押すとタイトル画面に戻ります。</li>
      <li class="card-text">スコア30点以上獲得するとゲーム画面の上にスコア登録フォームが現れます。名前を入力してランキングに登録しましょう。</li>
    <br>
    <h4 class="card-title">プレイヤー操作</h5>
      <li class="card-text">[矢印]キーでプレイヤーを移動させます。</li>
      <li class="card-text">[←][→]キーでプレイヤーは左右に動きます。</li>
      <li class="card-text">[↑]キーでプレイヤーをジャンプさせます。プレイヤーは無限にジャンプできます。</li>
      <li class="card-text">[↓]キーで空中にいるプレイヤーを急降下させます。</li>
      <li class="card-text">[x]キーで攻撃をします。攻撃をオバケに当てるとオバケを倒せます。</li>
    <br>
    <h4 class="card-title">その他</h5>
      <li class="card-text">推奨環境：Google Chrome</li>
      <li class="card-text">このゲームをプレイするにはjavascriptを有効化してください。</li>      
      <li class="card-text">その他不明点・改善点・バグ等あれば、以下のフォームからお願いします。</li>
      <p class="card-text"><a href="https://forms.gle/qTTyQqoLPvvjUoQU9">問い合わせフォーム</a></p>
      <br>
      <br>
      <small>通常プレイに疲れたら...タイトル画面で「muteki」「maou」を入力...</small>
  </div>
</div>
{{template "footer"}}